* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    text-transform: capitalize;
   
}

body{
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-auto-columns:auto ;
}

.header {
    background-color: darkblue;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 2.5rem;
}

.sorter {
    display: flex;
    align-items: center;
}

.sorter select {
    margin-left: 0.5rem;
}

.content{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-auto-rows: auto;
    
}

.sidebar{
    background-color: darkblue;
    
}

.project-area{
    background-color:white;
}