* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    text-transform: capitalize;
}

/* Header styles */
.header {
    background-color: #1ed397;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 2.5rem;
}

.sorter {
    display: flex;
    align-items: center;
}

.sorter select {
    margin-left: 0.5rem;
}
